<section class="about-section section-padding" id="about">
    <div class="row container">
        <div class="col-left">
            <div class="section-title">
                <h2 class="title">WHO AM I?</h2>
                <h3 class="subtitle">I'M BOBBY PACHIPALA, AN ANGULAR DEVELOPER</h3>
            </div>
            <p class="description">
                Seeking a challenging position where I can effectively utilize my skills and contribute to the growth of
                an organization while fostering my personal and professional development.
            </p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/patchipala-bobby-5b5250223/" class="icon" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/pachipalabobby" class="icon" target="_blank"><i
                        class="fab fa-github"></i></a>
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" class="icon"><i
                        class="fas fa-envelope"></i></a>
            </div>
        </div>
        <div class="col-right">
            <div class="skill-bars">
                <div class="skill-item">
                    <div class="skill-info">
                        <span class="skill-name">Angular</span>
                        <span class="skill-percent">90%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-info">
                        <span class="skill-name">NodeJS</span>
                        <span class="skill-percent">75%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 75%;"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-info">
                        <span class="skill-name">HTML/CSS</span>
                        <span class="skill-percent">95%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 95%;"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-info">
                        <span class="skill-name">TypeScript</span>
                        <span class="skill-percent">85%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 85%;"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-info">
                        <span class="skill-name">MySQL</span>
                        <span class="skill-percent">70%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 70%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>